@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --type: "Poppins", sans-serif;
    --alternate-font: "PT Sans", sans-serif;

    --blue: #0050FE;
    --accent: #E6D9CD;
    --dark-accent: #c1aa95;
    --light-accent: #F4EBE6;
    --tinted-accent: ;

    --almost-white: #efefec;
    --almost-black: #101C1F;
    --dark: #1f1f1f;
}

body{
    font-family: var(--type);
    padding: 0;
    margin: 0;
    background-color: var(--almost-white);
    color: black;
}

// typography

.hero{
    font-size: 72px;
    font-weight: 700;
    opacity: 0.95;    
}

.title{
    font-size: 32px;
    font-weight: 500;
    opacity: 0.90;    
}

.subtitle{
    font-size: 24px;
    font-weight: 500;
    opacity: 0.85;
}

.caption{
    font-size: 20px;
    font-weight: 400;
    opacity: 0.85;
}

.text{
    font-size: 18px;
    font-weight: 400;
    opacity: 0.8;
}

.muted{
    font-size: 16px;
    font-weight: 200;
    opacity: 0.5;
}

.type-2{
    font-family: var(--alternate-font);
}

// core elements

.navbar{
    padding: 24px 40px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    position: fixed;
    z-index: 4;
    background-color: var(--almost-white);
    width: 100%;
    height: 108px;
    .navlinks{
        display: flex;
        flex-direction: row;
        li{
            list-style-type: none;
            margin: 0 10px;
            a{
                text-decoration: none;
                color: inherit;
                opacity: 0.8;
                &.active{
                    color: var(--blue);
                    &:hover{
                        color: var(--almost-black);
                    }
                }
                &:hover{
                    color: #0050FE;
                }
            }
        }
    }
}

.brand{
    display: flex;
    flex-direction: row;
    .brand-name{
        background-color: var(--almost-white);
        .title{
            line-height: 28px;
        }
    }
    .designation{
        margin-left: 24px;
    }
}

.button{
    width: 108px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: var(--blue);
    color: var(--almost-white);
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    &:hover{
        color: var(--almost-black);
        background: transparent;
        border: 1px solid var(--almost-black);
    }
    &.outlined{
        color: var(--almost-black);
        background: transparent;
        border: 1px solid var(--almost-black);
        &:hover{
            background: var(--blue);
            color: var(--almost-white);
            border: none;
        }
    }
}

.info-card{
    position: relative;
    left: 30%;
    padding: 24px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--light-accent);
    border-radius: 4px;
    z-index: 3;
    width: 80%;
    height: 60%;
    box-shadow: 5px 5px 10px rgba(10,10,20,0.3);
    .col{
        .subtitle{
            font-weight: 700;
        }
    }
    .line{
        background-color: var(--blue);
        width: 30%;
        height: 4px;
        margin: 20px 0;
    }
    .info{
        font-weight: 300;
        text-align: center;
        width: 50%;
        margin: 20px 0;
    }
    
}

.icon{
    color: var(--almost-black);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-decoration: none;
    margin: 4px;
    i{
        width: 40px;
    }
    &:hover{
        color: #0050FE;
    }
}


// layouts

.grid{
    display: grid;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin: 24px inherit;
    gap: 10px;

}

.col{
    display: flex;
    flex-direction: column;
    line-height: 32px;
    align-items: center;
}

section.main{
    display: grid;
    grid-template-columns: 40% 60%;
    height: 100vh;
    .area{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 24px;
        gap: 24px;
        
        &:first-child{
            background: var(--accent);
        }
        &:last-child{
            padding: 24px 96px;
            .subtitle{
                width: 80%;
                word-wrap: normal;
            }
            .details{
                width: 80%;
            }
        }
    }
}

@media screen and (min-width: 1000px){
    .mobile-only{
        display: none;
    }

    .desktop-only{
        display: block;
    }
}

@media screen and (max-width: 1000px){
    .mobile-only{
        display: static;
    }

    .desktop-only{
        display: static;
    }

    // typography-edits

    .hero{
        font-size: 48px;
    }

    .title{
        font-size: 32px;
    }

    .subtitle{
        font-size: 24px;
    }

    // core

    .navbar{
        .navlinks{
            display: none;
        }
    }

    .button{
        text-decoration: none;
        width: 200px !important;
    }

    .illustration{
        img{
            width: 100%;
        }
    }

    // layout

    section.main{
        grid-template-columns: 100%;
        .area{
            text-align: center;
            &:first-child{
                .info-card{
                    display: none;
                }
                height: 400px;
                padding-top: 96px;
            }
            &:last-child{
                padding: 20px 24px;
                .subtitle, .details{
                    width: 100% !important;
                }
                .row{
                    flex-direction: row !important;
                    justify-content: center;
                }
                .quicklinks{
                    width: fit-content;
                }
            }
        }
    }
}